@model SFC.Models.fooditem
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="btn-wrapper">
    <h2 id="add-item">Add food</h2>
</div>

<div class="form-item">
    @using (@Html.BeginForm("Form", "Manager", FormMethod.Post))
    {
        
        <div>                        
            @Html.LabelFor(b => b.name)
            @Html.TextBoxFor(b => b.name, new { @class = "form-length form-control"})
            @Html.ValidationMessageFor(b => b.name, "", new { @style = "color:red" })
        </div>
        <br />
        <div>
            @Html.LabelFor(b => b.id)
            @Html.TextBoxFor(b => b.id, new { @class = "form-length form-control"})
            @Html.ValidationMessageFor(b => b.id, "", new { @style = "color:red" })
        </div>
        <br />
        <div>
            @Html.LabelFor(b => b.price)
            @Html.TextBoxFor(b => b.price, new { @class = "form-length form-control"})
            @Html.ValidationMessageFor(b => b.price, "", new { @style = "color:red" })
        </div>
        <br />
        <div>
            @Html.LabelFor(b => b.ImagePath)
            @Html.TextBoxFor(b => b.ImagePath, new { @class = "form-length form-control"})
            @Html.ValidationMessageFor(b => b.ImagePath, "", new { @style = "color:red" })
        </div>
        <br />
        <div class="btn-wrapper">
            <button type="submit" class="btn btn-gray">Add</button>
        </div>
    }
</div>



