@model SFC.Models.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutChef.cshtml";
}

<section class="mbr-section content5 cid-s2h0Bx5c2F" id="content5-1h">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Order infomation</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Chef checks the order information before marking the completion
                </h3>
            </div>
        </div>
    </div>
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="padding-left: 400px; padding-right: 400px">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="font-size:25px">
            <b> Order ID: </b> @Html.DisplayFor(Model => Model.id)
            <div class="col-md-10" style="display:none">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>  
        </div>

        <div class="form-group" style="font-size:25px">
            <b>Customer's username:</b> @Html.DisplayFor(Model => Model.username)
        </div>

        <div class="form-group" style="font-size:25px">
            <b>Time order:</b> @Html.DisplayFor(Model => Model.time)
        </div>

        <div class="form-group" style="font-size:25px">
            <b>Number of completed food:</b> @Html.DisplayFor(Model => Model.numberOfCompleted)
        </div>

        <div class="form-group" style="font-size:25px">
            <b>Foods ordered: </b>
            <div class="col-md-10" style="padding-left: 90px">
                <table>
                    <tr><th style="font-weight:normal; text-align:center">Food Name &emsp; &emsp;</th><th style="font-weight:normal; text-align:center">Quantity</th></tr>
                    @for (int i = 0; i < Model.foods.Count(); i++)
                    {
                        if (Model.foods[i].quantity != 0)
                        {
                            <tr>
                                <th style="font-weight:normal; text-align:left">
                                    @Html.DisplayFor(Model => Model.foods[i].name)
                                </th>
                                <th style="font-weight:normal; text-align:center">
                                    @Html.DisplayFor(Model => Model.foods[i].quantity)
                                </th>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

        <div class="form-group" style="font-size:25px">
            <b>Request:</b> @Html.DisplayFor(Model => Model.request)
        </div>
        <div class="form-group" style="text-align:center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Complete" class="btn btn-success"/>
            </div>
        </div>
        <hr />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

