@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/login/css/loginstyle.css">
<script>
    // Check key "Enter" in textbox password
    function runScript(e) {
        if (e.keyCode == 13) {
            login();
            return false;
        }
    }
   function login ()
   {
       var inputUser = document.getElementById("username").value
       var inputPass = document.getElementById("password").value

        $.ajax({
            type: "post",
            url: "@Url.Action("CheckValidUser")",
            data: {
                'username': inputUser,
                'password': inputPass,
            },
            success: function (result) {

                if (result != "Success") {
                    document.getElementById("msg").innerHTML = '\xa0\xa0\xa0\xa0\xa0\xa0\xa0' + result + '\xa0\xa0\xa0\xa0\xa0\xa0\xa0';
                    document.getElementById("msg").style.visibility = 'visible';
                }
                else {
                    window.location.href = "@Url.Action("Index","Home")";
                    document.getElementById("msg").style.visibility = 'hidden';
                }
            }
        })
    }
</script>

<section class="mbr-section content5 cid-s2gPyz5iF6" id="content5-x">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Login</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Please login your account</h3>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section form1 cid-s2gT73reu9" id="form1-12">

    <!---Formbuilder Form--->
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <br />
                            <h3 class="text-center text-info text-white">Login</h3>

                            <div class="form-group">
                                <label for="username" class="text-info text-white">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info text-white">Password:</label><br>
                                <input type="password" name="password" id="password" onkeypress="return runScript(event)" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="remember" class="text-info text-white">Remember me</label>
                                <span><input id="remember-me" name="remember-me" type="checkbox"></span>
                            </div>

                            <div class="justify-content-sm-center text-center">
                                <input type="button" name="submit" class="btn btn-primary btn-md" onclick="login();" style="background-color:#016485" value="Submit">
                            </div>

                            <div id="register-link" class="text-right">
                                <a href="@Url.Action("Signup","Login")" class="text-info text-white">Register here</a><br /><br />
                            </div>

                            <div class=" text-center ">
                                <label for="msg" id="msg" style=" border:1px solid #550519; background-color:#b20202; visibility:hidden;" class="text-primary text-white"> abc </label><br>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<section class="features1 cid-s2gQKxSTuL" id="features1-11">

    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6">
                <div class="card-img pb-3">
                    <a href="@Url.Action("Login","Manager")"><span class="mbr-iconfont mbri-smile-face"></span></a>
                    <a href="@Url.Action("Index","Manager")"><span class="mbr-iconfont mbri-smile-face"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Login as Manager</h4>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6">
                <div class="card-img pb-3">
                    <a href="@Url.Action("Login","Chef")"><span class="mbr-iconfont mbri-smile-face"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Login as Chef
                    </h4>
                </div>
            </div>

        </div>
    </div>

</section>


