﻿@using SFC.Models
@model Order
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Payment/Layout.cshtml";

}
    <script>
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    }
    else
    {
        ready()
    }

        function ready() {

            var wallet = document.getElementsByName('wallet-button')
            for (var i = 0; i < wallet.length; i++) {
                var button = wallet[i]
                button.addEventListener('click', payWithWallet)
            }

            var btn_confirm = document.getElementsByName('btn-confirm')[0]
            btn_confirm.addEventListener('click', confirmOrder)

            var btn_gateway = document.getElementsByName('btn-payment-gateway')[0]
            btn_gateway.addEventListener('click', openPaymentGateway)

            var btnStep3 = document.getElementById("step3")
            btnStep3.addEventListener('click', checkOrderStep3)

            var btnRepay = document.getElementsByName("btn-repay")[0]
            btnRepay.addEventListener('click', repayClicked)

        }

        function repayClicked(event) {
            var des = document.getElementById("step1")
            des.click()
        }

        function checkOrderStep3(event) {
            var notifyImg = document.getElementsByName('notify-img')[0]
            var des = document.getElementById("step4")
            if ('@(Model.totalCost == 0)' == "False") {
                var count = 0;
                var timer = setInterval(function () {
                    count++;
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("checkPaid")',
                        success: function (result) {
                            JSON.stringify(result)
                            if (result["isPaid"] == true) {
                                count = -1;
                                notifyImg.src = "/assets/payassets/images/successful.png?random=" + new Date().getTime()
                                notifyImg.setAttribute("width", "100%")
                                console.log(count)
                                des.click()
                                window.clearInterval(timer)
                            }
                        }
                    })
                    if (count == 120) {
                        notifyImg.src = "/assets/payassets/images/failed.png?random=" + new Date().getTime()
                        notifyImg.setAttribute("width", "100%")
                        console.log(count)
                        des.click()
                    }
                }, 2000)
            }
            else {
                notifyImg.src = "~/assets/payassets/images/noqrcode.png?random=" + new Date().getTime()
                notifyImg.setAttribute("width", "350")
            }

        }

        function confirmOrder(event) {

            var totalCost = parseInt(document.getElementsByName('total-cost')[0].innerText.replace('$', ''))
            if (totalCost == '0') {
                alert('No no no, go to order first babe <3')
            }
            else {
                var foodNote = document.getElementsByName('food-note')[0]
                console.log(foodNote.value)

                $.ajax({
                    type: 'post',
                    url: "@Url.Action("confirmOrder")",
                    data: {
                        'request': foodNote.value
                    }
                })
                var des = document.getElementById('step2')
                des.click()
        }
    }

        function payWithWallet(event) {
            var button = event.target
            var totalCost = parseInt(document.getElementsByName('total-cost')[0].innerText.replace('$', ''))
            if (totalCost == '0') {
                alert('No dishes in your cart. Let order first')
            }
            else {
                var confirmed = '@((TempData["confirmed"] == null))'
                if (confirmed == 'False') alert('Are you sure about the order?')

                $.ajax({
                    type: 'post',
                    url: "@Url.Action("RequestPayment")",
                    data: {
                    'nameWallet' : "momo" ,
                    },
                    success: function (result) {
                        JSON.stringify(result)
                        var img = document.getElementsByName("qrcode-img")[0]
                        img.src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + result["qrCode"];
                        var btnOpenGateway = document.getElementsByName("btn-payment-gateway")[0]
                        btnOpenGateway.setAttribute("href", result['responseUrl'])
                        var des = document.getElementById("step3")
                        des.click()

                    }
                })
            }
        }

        function openPaymentGateway(event) {
            var button = event.target
            var link = button.getAttribute("href")
            window.open(link, "_blank")
            setTimeout(function () {
                
                var notifyImg = document.getElementsByName('notify-img')[0]
                notifyImg.src = "/assets/payassets/images/failed.png?random=" + new Date().getTime()
                notifyImg.setAttribute("width", "100%")
                var des = document.getElementById("step4")
                des.click()
            }, 300000)
        }

    </script>

<div class="row" id="tabs">
    <div class="col-lg-4">
        <ul>
            <li>
                <a id='step1' href='#tabs-1'><img src="~/assets/payassets/images/one.png" height="40" alt="">Confirm the order</a>
            </li>
            <li>
                <a id='step2' href='#tabs-2'><img src="~/assets/payassets/images/two.png" height="40" alt="">Choose a wallet</a>

            </li>
            <li>
                <a id='step3' href='#tabs-3'><img src="~/assets/payassets/images/three.png" height="40" alt="">Scan the QR Code</a>

            </li>
            <li>
                <a id='step4' href='#tabs-4'><img src="~/assets/payassets/images/four.png" height="40" alt="">Get the order</a>

            </li>
            <li class="main-rounded-button" name="btn-repay" style="border-radius: 15px;padding-bottom: 20px;"><a >RE-PAY</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <article id='tabs-1'>
            <div class="row" style="padding-left: 15px;padding-bottom: 20px;">
                <table class="table" cellspacing="0">
                    @{
                        var totalCost = 0;
                        if (Model != null)
                        {
                            totalCost = (int)Model.getTotalCost();
                        }
                    }
                    <thead>
                        <tr class="d-flex step1">
                            <th class="col-lg-3 offset-lg-1">Name</th>
                            <th class="col-lg-2">Quantity</th>
                            <th class="col-lg-3">Price</th>
                            <th class="col-lg-3">SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.items)
                            {
                                var dbItem = Model.getItem(item.Key);
                                <tr class="d-flex">
                                    <td class="col-lg-3 offset-lg-1 offset"><a href="#">@dbItem.name</a></td>
                                    <td class="col-lg-2">x @item.Value</td>
                                    <td class="col-lg-3">$@dbItem.price</td>
                                    <td class="col-lg-3">$@(@dbItem.price * @item.Value)</td>
                                </tr>

                            }
                        }

                    <tfoot>
                        <tr class="d-flex step1">
                            <td class="col-lg-8 offset-lg-1" style="text-align: center">TOTAL COST</td>

                            <td name="total-cost" class="col-lg-3" style="text-align: left"> $@totalCost</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <th class="offset-6" style="display:inline;font-size: 15px;font-weight: 400;"><img src="~/assets/payassets/images/contract.png " width="30px"> Note</th>
                    </thead>

                </table>

                <div class="col-lg-11 col-12 offset-lg-1 off-md-1">
                    <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                        <textarea class="input100" name="food-note" placeholder="You can send the request to the chef to enjoy the dish with your own taste. "></textarea>

                    </div>
                </div>

            </div>
            <div class="row" style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-10 offset-lg-1 step1">
                    <section class="tabs-step">
                        <h4>Confirm Your Order</h4>
                        <p>Check the order carefully and press the bellow button. </p>
                    </section>
                </div>

            </div>

            <!--Button-->
            <div class="row " style="padding-left: 15px;">
                <div class="col-lg-8 col-md-10 col-sm-9 col-8 offset-lg-1 step1">
                    <button name="next-button " style="float: left; " class="btn btn-primary main-button ">CANCEL</button>
                </div>

                <div class=" col-lg-2 col-md-2 col-sm-2 col-2 offset-lg-1 step1" align-item="right ">
                    <button name="btn-confirm" class="btn btn-primary main-button" style="display: block; float: right; ">CONFIRM</button>
                </div>
            </div>

        </article>
        <article id='tabs-2'>
            <div class="row" >
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="features-item pb-4">
                        <div class="features-icon">
                            <img src="~/assets/payassets/images/logo-momo.jpg" height="100" alt="">
                        </div>
                        <div class="features-content step1">
                            <h4>Momo</h4>
                            <p>Super No.1 payment application in VietNam</p>
                            <button name="wallet-button" class="btn btn-primary main-button" type="button">Choose</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="features-item pb-4">
                        <div class="features-icon">
                            <img src="~/assets/payassets/images/zalo.png" height="100" alt="">
                        </div>
                        <div class="features-content step1">
                            <h4>ZaloPay</h4>
                            <p>Pay only in 2s</p>
                            <button name="wallet-button" class="btn btn-primary main-button" type="button">Choose</button>
                        </div>
                    </div>
                </div>
            </div>

        </article>

        <article id='tabs-3'>
            <div class="row " style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-10 offset-lg-1 step1 ">
                    <img name="qrcode-img" src="~/assets/payassets/images/noqrcode.png" width="350" alt="Loading ..." />
                </div>

            </div>
            <div class="row " style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-11 offset-lg-1 step1 ">
                    <section class="tabs-step ">
                        <h4>Scan the QR Code</h4>
                        <p>Open your payment app or use the camera which supports scanner to scan the above QR Code.  </p>
                        <p>You also click the below link to go to payment gateway,</p>
                    </section>
                </div>

            </div>

            <div class="row " style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-10 offset-lg-1 step1 ">
                    <button name="btn-payment-gateway" class="btn btn-primary main-button" type="button" href="#">OPEN MOMO GATEWAY</button>
                </div>
            </div>

        </article>

        <article id='tabs-4'>
            <div class="row " style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-10 offset-lg-1 step1 ">
                    <img name="notify-img" src="~/assets/payassets/images/noqrcode.png" width="350" alt="Loading ..." />
                </div>

            </div>
            <div class="row " style="padding-left: 15px;padding-bottom: 20px;">
                <div class="col-lg-11 offset-lg-1 step1 ">
                    <section class="tabs-step ">
                        <h4>Get your order</h4>
                        <p>Now, you can check email, get your food and enjoy.</p>
                    </section>
                </div>
            </div>

            <div class="row " style="padding-left: 15px;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-10 offset-lg-1 step1 ">
                    <button name="btn-new-order" class="btn btn-primary main-button" type="button" onclick="location.href='@Url.Action("Index", "Home")'">GET NEW ORDER</button>
                </div>
            </div>

        </article>
    </div>
</div>


