@using SFC.Models
@model Order
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/socicon/css/payStyles.css">
<script src="~/assets/myJS/myJS.js" async></script>
<script>
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready()
    }
    function ready() {
        var removeCartItemButtons = document.getElementsByClassName('btn-danger')
        for (var i = 0; i < removeCartItemButtons.length; i++) {
            var button = removeCartItemButtons[i]
            button.addEventListener('click', removeCartItem)
        }

        var quantityInputs = document.getElementsByClassName('cart-quantity-input')
        for (var i = 0; i < quantityInputs.length; i++) {
            var input = quantityInputs[i]
            input.addEventListener('change', quantityChanged)
        }

        var btnPurchase = document.getElementsByName('btn-purchase')[0]
        btnPurchase.addEventListener('click', purchaseClicked)
    }

    function purchaseClicked(event) {
        var btn = event.target
        var btnPrice = document.getElementsByClassName('cart-total-price')[0]
        var price = parseInt(btnPrice.innerText.replace('$', ''))
        if (price == '0') {
            alert('No no no, choose our food first babe <3')
        }
        else {
            window.location.href='@Url.Action("Index", "Payment")'
        }
    }

    function removeCartItem(event) {
        var buttonClicked = event.target
        var id = buttonClicked.parentElement.children[0].innerText
        buttonClicked.parentElement.parentElement.remove()

        $.ajax({
            type: 'post',
            url: "@Url.Action("RemoveItem")",
            data: {
                'id': id,
            },
             success: function (result) {
                JSON.stringify(result)
                document.getElementsByClassName('cart-total-price')[0].innerText = '$' + result['totalCost']
             }
        })
    }

    function quantityChanged(event) {
        var input = event.target
        var group = input.parentElement
        var id = group.children[0].innerText
        var quantity = group.children[1].value

        $.ajax({
            type: 'post',
            url: "@Url.Action("ChangeQuantity")",
            data: {
                'id': id,
                'quantity': quantity,
            },
            dataType: 'json',
            success: function (result) {
                JSON.stringify(result)
                document.getElementsByClassName('cart-total-price')[0].innerText = '$' + result['totalCost']
            }
        })
    }

</script>

<section class="mbr-section content5 cid-s2gNlDMF3j" id="content5-r">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">MY CART</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Please check your order carefully</h3>


            </div>
        </div>
    </div>
</section>

<section class="container container-fluid"style="background-color: #17a2b80f;">
    <div class="row" style="display: flex;">
        <div class=" col-4 border-bottom border-dark cart-header cart-column ">ITEM </div>
        <div class=" col-2 border-bottom border-dark cart-price cart-header cart-column ">PRICE </div>
        <div class=" col-lg-5 col-md-4 border-bottom border-dark cart-quantity cart-header cart-column ">QUANTITY</div>

    </div>
    @*
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>*@
    @*@{
            if (@Model.totalCost != 0)
            {
                foreach (var item in Model.items)
                {
                    var dbItem = Model.getItem(item.Key);
                    <div class="cart-row">
                        <div class="cart-item cart-column">
                            <img class="cart-item-image" src="@dbItem.imageSrc" height="100">
                            <span class="cart-item-title">@dbItem.name</span>
                            <p hidden>@item.Key</p>
                        </div>
                        <span class="cart-price cart-column">$@dbItem.price.ToString()</span>
                        <div class="cart-quantity cart-column">
                            <p hidden> @item.Key </p>
                            <input class="cart-quantity-input" type="number" value="@item.Value" min="0">
                            <button class="btn btn-danger" type="button">REMOVE</button>
                        </div>
                    </div>
                }
            }
        }*@
    @{
        if (@Model.totalCost != 0)
        {
            foreach (var item in Model.items)
            {

                var dbItem = Model.getItem(item.Key);
                <div class="row " style="display: flex;">
                    <div class="col-md-4 col-4 cart-column ">
                        <div class="row" style="padding-left:15px;">
                            <img class="cart-item-image " src="@dbItem.imageSrc" height="100%">
                            <div class="cart-item-title cart-column" style="padding-left: 15px;">@dbItem.name</div>
                        </div>
                        <p hidden>@item.Key</p>

                    </div>

                    <div class="col-md-2 col-2 cart-column ">
                        <div class="cart-price cart-column" style="padding-left: 0px;">$@dbItem.price.ToString()</div>
                    </div>

                    <div class="col-md-4 col-10 cart-quantity cart-header cart-column " >
                        <p hidden> @item.Key </p>
                        <input class="cart-quantity-input" type="number" value="@item.Value" min="0">
                        <button class="btn btn-danger" type="button" style="padding:0.8em 1em;background-color:#17a2b8;border-color:#17a2b8; ">REMOVE</button>
                    </div>
                </div>

            }
        }
    }

</section>

<div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$@Model.getTotalCost()</span>

</div>

<div class="align-center">
    <button class="btn btn-primary btn-purchase" name="btn-purchase" type="button">PURCHASE</button>
</div>

<section class="mbr-section content8 cid-s2gMfRE15Z" id="content8-m"></section>


