﻿@using SFC.Models
@model Menu
@{ ViewBag.Title = "Home Page"; }
<script>
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready()
    }
    function ready() {

        var addToCartButtons = document.getElementsByName('Addtocart')
        for (var i = 0; i < addToCartButtons.length; i++) {
            var button = addToCartButtons[i]
            button.addEventListener('click', addToCartClicked)
        }

    }
    function addToCartClicked(event) {
        var buttonClicked = event.target
        var itemGroup = buttonClicked.parentElement.parentElement
        var itemID = itemGroup.children[0].innerHTML
        var quantityItem = itemGroup.children[1].value
 
        $.ajax({
            type: 'post',
            url: "@Url.Action("AddItemToCart")",
            data: {
                'id': itemID,
                'quantity': quantityItem,
            },
            success: alert('Add to cart sucessfully')
        })
    }

    function clickOrder(itemID, textId) {
        var quantityItem = parseInt(document.getElementById(textId).value);
        if (quantityItem == 0) {
            alert('Please choose quantity <3')
            return
        }
        console.log(itemID)
        console.log(quantityItem)
        $.ajax({
            type: 'post',
            url: "@Url.Action("AddItemToCart")",
            data: {
                'id': itemID,
                'quantity': quantityItem,
            },
            success: function (response) { showSnackBar(); }
        })
    }


    function upClick(textId) {
        console.log(textId);
        var text = document.getElementById(textId);
        var value = text.value ? parseInt(text.value) : 0;
        value++;
        text.value = value.toString();
    }
    function downClick(textId) {
        var text = document.getElementById(textId);
        var value = text.value ? parseInt(text.value) : 0;
        if (value > 0) value--;
        text.value = value.toString();
    }


    function showSnackBar() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }

</script>

<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(85, 180, 212);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    WELCOME TO BACH KHOA<br>SMART
                    FOOD COURT
                </h1>


                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-secondary display-4"
                       href="index.html#services1-3">
                        <span class="mbri-hot-cup mbr-iconfont mbr-iconfont-btn"></span>ORDER
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>


<section class="services1 cid-s2gv6RA8aE" id="services1-3">
    <!---->
    <!---->
    <!--Overlay-->
    <!--Container-->
    <div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left pb-3 mbr-fonts-style display-1">Today's hot food&nbsp;</h2>
                <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
                    Wish you delicious. Love you
                    3000
                </h3>
            </div>

            @foreach (var item in Model.getListFood().Values)
            {
                var textBoxName = "hotTextBox" + @item.id.ToString();
<div class="card col-12 col-md-6 p-3 col-lg-3 align-center">
    <div class="card-wrapper">
        <div class="card-img">
            <img src="@item.imageSrc" alt="3nut" title="">
        </div>
        <div class="card-box">
            <h4 class="card-title mbr-fonts-style display-5">
                @item.name
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
                Make with fresh vegetables<br>Remaining:
                @item.quantity<br>$@item.price
            </p>
            <!--Btn-->
            <br>
            <div class="cart-add">

                <div class="btn-group">
                    <button type="button" class="btnUpDown" onclick="downClick('@textBoxName')" runat="server">-</button>
                    &nbsp;
                    <input name="item-quantity" id="@textBoxName" type="text" value="1" style="max-width:100px" class="textUpDown" runat="server" min='1' max="@item.quantity">
                    &nbsp;
                    <button type="button" value="+" class="btnUpDown" onclick="upClick('@textBoxName')" runat="server">+</button>
                </div>

                <div class="mbr-section-btn align-center">
                    <button class="btn btn-primary-outline display-4" type="submit" name="Add-to-cart" onclick="clickOrder('@item.id','@textBoxName')">
                        <span class="mbri-cart-add mbr-iconfont mbr-iconfont-btn"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>      }
        </div>
    </div>
</section>


<!--================ Gallery section ================-->
<section class="mbr-section content4 cid-s2gFSf2AXn" id="content4-9">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1">
                    Menu
                </h2>
            </div>
        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-s2gDz6k4Xs" id="gallery2-7">
    <div class="container">
        <!-- Filter -->
        <div class="mbr-gallery-filter container gallery-filter-active">
            <ul buttons="0">
                <li class="mbr-gallery-filter-all active">
                    <a class="btn btn-md btn-primary display-7"
                       href="">All</a>
                </li>
            </ul>
        </div>
        <!-- Gallery -->
        <div class="mbr-gallery-row">
            <div class="mbr-gallery-layout-default">

                @foreach (var item in Model.getListFood().Values)
                {
                    var textBoxName = "galleryTextBox" + @item.id.ToString();

    <div class="mbr-gallery-item mbr-gallery-item--p4" data-video-url="false" data-tags="@item.type">
        <div href="#lb-gallery2-7" data-slide-to="@item.id">
            <img src="@item.imageSrc" alt="" title="@item.name">
            <span>
                <div class="card-box align-center">
                    <br>
                    <h4 class="card-title mbr-fonts-style display-5">
                        @item.name
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        @item.description<hr>
                        Remaining: @item.quantity<br>
                        Price: $@item.price
                    </p>
                    <!--Btn-->
                    <div class="cart-add">
                        <div class="btn-group">
                            <button type="button" class="btnUpDown" onclick="downClick('@textBoxName')" runat="server">-</button>
                            &nbsp;
                            <input name="item-quantity" id="@textBoxName" type="text" value="1" style="max-width:100px" class="textUpDown" runat="server" min='1' max="@item.quantity">
                            &nbsp;
                            <button type="button" value="+" class="btnUpDown" onclick="upClick('@textBoxName')" runat="server">+</button>
                        </div>
                        <div class="btn-group">
                            <div class="mbr-section-btn align-center">
                                <button class="btn btn-primary-outline display-4" type="submit" name="Add-to-cart" onclick="clickOrder('@item.id','@textBoxName')">
                                    <span class="mbri-cart-add mbr-iconfont mbr-iconfont-btn"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</section>
<div id="snackbar">Add to cart successfully</div>
